/* .chart-container {
    position: relative;
    height: 100%;
    background-color: white;
  }
  
  .timeframe-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .timeframe-buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: lightgray;
    border: 1px solid gray;
    cursor: pointer;
  }
  
  .timeframe-buttons button.active {
    background-color: gold;
    font-weight: bold;
  }
   */

   .react-resizable {
  position: relative;
  border: 1px solid #ccc; /* Optional border for better visualization */
  overflow: hidden; /* Prevent content overflow */
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 50%;
  background: #ccc;
  cursor: s-resize; /* Show resize cursor */
  transform: translateX(50%);
}
